/* LARGE */

.urgency-timer {
    font-family: 'Impact', Times, serif;
}

.ut-large {
    padding: 0px 16px;
}

.ut-large > .ut-letters {
    color: #aaa;
    padding-top: 1px;
    font-size: 20px;
}

.ut-large > .ut-hh,  .ut-large > .ut-mm {
    color: #a00;
    padding-top: 1px;
    font-size: 30px;
}

.ut-large > .ut-ss {
    padding-top: 1px;
    font-size: 30px;
}

@keyframes pi-pulse {
    0%   { color: #f00; }
    100% { color: #a00; }
}

.pi-sync.ut-large > .ut-ss {
    animation: pi-pulse 1s ease-out infinite;
}


/* SMALL */

.ut-small {
    padding: 0px 4px;
}

.ut-small > .ut-letters {
    color: #0aa;
    padding-top: 1px;
    font-size: 20px;
}

.ut-small > .ut-hh,  .ut-small > .ut-mm {
    color: #0a0;
    padding-top: 1px;
    font-size: 20px;
}

.ut-small > .ut-ss {
    padding-top: 1px;
    font-size: 20px;
}

@keyframes pi-pulse-sm {
    from { color: #0f0; }
    to   { color: #0a0; }
}

.pi-sync.ut-small > .ut-ss {
    animation: pi-pulse-sm 1s ease-out infinite;
}
